* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: "Poppins", Arial, sans-serif;
    background-color: rgba(77, 34, 157, 0.6);
    color: #4a3038;
    line-height: 1.7;
}
body.intro-active {
    overflow: hidden;
}
#musicButton {
    position: fixed;

    top: 20px;
    right: 20px;

    z-index: 20000;
    border: none;
    padding: 10px 18px;

    border-radius: 25px;
    background: #d94f75;
    color: white;

    font-size: 14px;
    font-weight: 600;

    cursor: pointer;

    box-shadow: 0 6px 18px rgba(217, 79, 117, 0.25);
    transition: 
    transform 0.2s ease,
    background 0.2s ease;
}
#musicButton:hover {
    transform: translateY(-2px);
    background: #c83f65;
}
#musicButton:active {
    transform: scale(0.95);
}
.intro-screen {
    position: fixed;
    inset: 0;
    z-index: 10000;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    
    text-align: center;

    background:
        radial-gradient(circle at 20% 20%, #ffd6e5, transparent 35%),
        radial-gradient(circle at 80% 80%, #ffe6c7, transparent 35%),
    #fff5f8;

    transition: opacity 0.8s ease,
                visibility 0.8s ease;
}
.intro-content{
    width: min(90%, 700px);

    animation: introAppear 1.2s ease ;
}
.intro-small {
    color: #b36b7d;
    font-size: 16px;
    margin-bottom: 15px;
}
.intro-content h1 {
    font-family: Georgia, Serif;
    font-size: clamp(50px, 9vw, 90px);
    color: #d94f75;
    margin-bottom: 15px;
}
.intro-question {
    font-size: 18px;
    color: #684b54;
    margin-bottom: 35px;
}
.intro-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.intro-buttons button {
    border: none;
    padding: 14px 30px;

    border-radius: 30px;

    font-size: 16px;
    font-weight: 600;

    cursor: pointer;

    transition: transform 0.25s ease,
                box-shadow 0.25s ease;
}
#yesButton {
    background: #d94f75;
    color: white;
    box-shadow: 0 8px 20px rgba(217, 79, 117, 0.25);
}
#noButton {
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    white-space: normal;
    background: white;
    color: #70444f;
    border: 1px  solid #ead2d9;
    transition:
        left 0.25s ease,
        top 0.25s ease,
        transform 0.2s ease;
}
#noButton.angry {
    animation: angryShake 0.35s ease;
}
@keyframes angryShake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-8deg);
    }
    50% {
        transform: rotate(8deg);
    }
    75% {
        transform: rotate(-6deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.intro-buttons button:hover {
    transform: translateY(-4px);
}
.intro-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

@keyframes introAppear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.site-profile {
    position: fixed;
    top: 20px;
    left: 20px;

    width: 80px;
    height: 80px;

    padding: 3px;

    border-radius: 50%;
    background: white;

    box-shadow: 0 6px 20px rgba(0,0,0, 0.15);
    
    z-index: 9000;
    
    animation: profileFloat 3s ease-in-out infinite;
}
.site-profile img {
    width: 100%;
    height: 100%;

    display: block;

    object-fit: cover;
    border-radius: 50%;
}
@keyframes profileFloat {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-4px);
    }
}
/* Puzzle Game */
.game-screen {
    position: fixed;
    inset: 0;

    width: 100%;
    height: 100vh;

    z-index: 9000;

    display: none;

    overflow-y: auto;
overflow-x: hidden;
}
.game-screen.show-game {
    display: flex;
}
.game-screen {
    min-height: 100vh;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    text-align: center;

    background: 
    radial-gradient(circle at 15% 20%, #ffdce8, transparent 35%),
    radial-gradient(circle at 85% 80%, #ffe8cf, transparent 35%),
    #fff7fa;
}
.game-screen.show-game {
    display: flex;
}
.game-content {
    width: min(92%, 700px);
    margin: auto;

}
.game-content h1 {
    font-family: Georgia, serif;
    color: #d94f75;
    font-size: clamp(38px, 7vw, 65px);
    line-height: 1.1;
    margin-bottom: 15px;
}
.game-instruction {
    color: #684b54;
    font-size: 16px;
    margin-bottom: 30px;
}
/* puzzle Grid */
.puzzle {
    width: min(100%, 560px);
    margin: 30px auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 14px;

    perspective: 1000px;
}
/* puzzle Card */
.puzzle-card {
    position: relative;

    width: 100%;
    aspect-ratio: 1/1;

    padding: 0;
    border: none;
    border-radius: 16px;

    background: #d94f75;

    cursor: pointer;
     overflow: hidden;
     transform-style: preserve-3d;
     transition: 
     transform 0.5s ease,
     box-shadow 0.3s ease;
}
.puzzle-card:hover {
    transform: translateY(-4px);
    box-shadow: 0.3s ease;
}
/* Question Mark?*/
.card-front {
    position: absolute;

    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;

    font-size: 35px;
    font-weight: 600;

    backface-visibility: hidden;
    z-index: 2;
}
/* Image */
.card-image {
    
    position: absolute;

    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    border-radius: 16px;
    opacity: 0;

    transform: none;
    transition: 
         opacity 0.25 ease,
         transform 0.5s ease;
}
/* Flipped card */
.puzzle-card.flipped {
    transform: rotateY(180deg);
}
.puzzle-card.flipped .card-front {
     opacity: 0;
}
.puzzle-card.flipped .card-image {
    opacity: 1;
}
/* Matched card Stay Flipped */
.puzzle-card.matched {
    cursor: default;

    box-shadow:
        0 0 0 3px #d94f75,
        0 10px 25px rgba(217, 79, 117, 0.2);
}

.puzzle-card.matched .card-front {
    opacity: 0;
}

.puzzle-card.matched .card-image {
    opacity: 1;
}
/* Matched Card */
   .puzzle-card.matched {
    cursor: default;
    
    box-shadow: 
             0 0 0 3px #d94f75,
             0 10px 25px rgba(217, 79, 117, 0.2);
   }
   .puzzle-card.matched .card-image {
     opacity: 1;
   }

   /* Congratulations */
   .puzzle-complete {
    margin-top: 30px;

    padding: 25px;

    background: 
            rgba(255,255,255,0.8);
    border-radius: 24px;
    box-shadow: 0 15px 40px rgba(100,50,65,0.12);
    
    animation: puzzleComplete 0.7s ease;

   }
   .puzzle-complete h2 {
    font-family: Georgia, serif;
    color: #d94f75;
    font-size: 36px;
    margin-bottom: 10px;
   }
   .puzzle-complete p {
    color: #684b54;
   }
   /* puzzle Gift */
   .game-gift {
    width: 260px;
    height: 260px;

    margin: 25px auto;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease;
   }
   .game-gift:hover {
    transform: scale(1.05);
   }
   .game-gift> img {
    width: 100%;
    height: 100%;

    object-fit: contain;

    display: block;
   }
   /* gift Reveal */
   .game-reveal {
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    text-align: center;
   }
   .gift-reveal h2 {
    margin: 10px 0 20px;

    font-family: georgia, serif;

    font-size: 30px;

    color: #d94f75;
   }
   .gift-reveal img {
    width: 220px;
    height: 220px;

    object-fit: cover;
    display: block;

    border-radius: 18px;
   }
   .gift-reveal p {
    margin-top: 15px;

    font-size: 18px;
    color: #684b54;
   }
   /* Animations */
   @keyframes puzzelComplete {
    from {
        opacity: 0;
        transform: scale(0.8) translateY(20px);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
   }
   @keyframes giftFloat {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
   }

.hero {

    min-height: 100vh;
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: 
    radial-gradient(circle at top left, #ffd6e3, transparent 35%),
    radial-gradient(circle at bottom right, #ffe9c7, transparent 35%),
    #fff5f7;

    position: relative;
    overflow: hidden;
}

.hero::before {
    content: "🎈";
    position: absolute;
    top: 70px;
    left: 10%;
    font-size: 55px;
    animation: float 4s ease-in-out infinite;
}

.hero::after {
    content: "🎈";
    position: absolute;
    top: 120px;
    left: 10%;
    font-size: 45px;
    animation: float 5s ease-in-out infinite;
}
.small-text {
    font-size: 16px;
    color: #a86b7b;
    margin-bottom: 15px;
}
.hero h1 {
    font-family: Georgia, serif;
    font-size: clamp(48px, 5vw, 90px);
    color: #70444f;
    line-height: 1.1;
    margin-bottom: 15px;
}
.hero h2 {
    font-size: 28px;
    color: #70444f;
    margin-bottom: 20px;
}
.intro {
    max-width: 720px;
    font-size: 17px
}
.intro strong {
    color: #d94f75;
    font-size: 22px;
}


#surprise-button {
    border: none;
    background-color: #d94f75;
    color: #fff;

    padding: 15px 28px;
    border-radius: 30px;
    
    font-size: 16px;
    font-weight: 600;

    cursor: pointer;

    box-shadow: 0 8px 20px rgba(217, 79, 117, 0.25);

    transition: all 0.3s ease;
}

#surprise-button:hover {
    background-color: #c83f65;
    box-shadow: 0 12px 25px rgba(217, 79, 117, 0.35);
    transform: translateY(-4px);
}

#surprise-button:active {
     transform: scale(0.95);

}


.message {
    padding: 90px 20px;
    text-align: center;
    background: white;
}

.message h2,
.memories h2,
.surprise h2 {
    font-family: Georgia, serif;
    font-size: 38px;
    color: #d94f75;
    margin-bottom: 25px;

}
.message-text {
    max-width: 750px;
    margin: auto;
    font-size: 17px;
    color: #684b54;
    white-space: pre-line;
}




.memories {
    padding: 90px 20px;
    text-align: center;
    background: #fff0f4;

}

.memories-gallery {
    max-width: 1050px;
    margin: 45px auto 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.memory {
    background: white;
    padding: 12px;
    border-radius: 18px;

    box-sizing: 0 8px 25px rgba (100, 50, 65, 0.10);

    transition: 0.3s ease;

}

.memory:hover {
    transform: translateY(-8px) rotate(-1deg);
}

.memory img {
    width: 100%;
    height: 280px;

    object-fit: cover;

    border-radius: 12px;

    display: block;
}

.memory-caption {
    padding: 15px 8px 8px;
    font-size: 15px;
    color:#70444f;
}




.surprise {
    min-height: 80vh;
    padding: 90px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    background: 
    radial-gradient(circle at center, #ffe1ea, #fff5f7);
}

.gift {
    font-size: 90px;
    margin-bottom: 20px;

    animation: giftBounce 2s ease-in-out infinite;
}

.surprise-text {
    max-width: 750px;
    font-size: 17px;
    color: #684b54;

    white-space: pre-line;

    margin-bottom: 30px;
}

.surprise h3 {
    font-family: georgia, serif;
    font-size: 30px;
    color: #d94f75;
}



.footer {
    padding: 25px 20px;
    text-align: center;
    background: #4a3038;
    color: #ffe8ee;
}
.footer-text {
    font-size: 14px;
}



@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
    
    100% {
        transform: translateY(0);
    }
}

@keyframes giftBounce {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-12px) rotate(3deg);
    }

    100% {
        transform: translateY(0) rotate(0deg);
    }
}


/* ================================
   PHONE
================================ */

@media (max-width: 550px) {
    
.site-profile {
    width: 52px;
    height: 52px;
    top: 15px; 
    left: 15px;
}
.game-screen {
    padding: 45px 15px;
}
.game-content {
    width: 94%;
}
.game-content h1 {
    font-size: 40px;
}
.game-instruction {
    font-size: 14px;
    margin-bottom: 20px;
}
.puzzle {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 25px;
}
.puzzle-card {
    border-radius: 12px;
}
.card-image {
    border-radius: 12px;
}
.card-front {
    font-size: 27px;
}
.puzzle-complete {
    padding: 20px;
}
.puzzle-complete h2 {
    width: 210px;
    height: 210px;

    margin: 20px auto;

}
.gift-reveal h2 {
    font-size: 24px;
}
.game-reveal img {
    width: 180px;
    height: 180px;
}
.game-gift {
    font-size: 65px;
}

    .hero {
        min-height: 100vh;
        padding: 60px 18px;
    }

    .hero h1 {
        font-size: 48px;
    }

    .hero h2 {
        font-size: 23px;
    }
    .intro-screen {
        width: 100vh;
        max-width: 100vh;
        overflow: hidden;
    }
    .intro-content {
        width: 90%;
        max-width: 90vh;
    }
    .intro-content h1 {
        font-size: 48px;
    }
    .intro-question {
        font-size: 16px;
    }
    .intro-buttons{
        gap: 10px;
    }
    .intro-buttons button {
        padding: 12px 24px;
        font-size: 14px;
    }

    .intro {
        font-size: 15px;
    }

    .message,
    .memories,
    .surprise {
        padding: 65px 18px;
    }

    .message h2,
    .memories h2,
    .surprise h2 {
        font-size: 31px;
    }

    .memories-gallery {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .memory img {
        height: 300px;
    }

    .gift {
        font-size: 75px;
    }

    .surprise h3 {
        font-size: 25px;
    }
}